#controls {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 140px;

  margin: 0;
  border-collapse: collapse;
  background: #B91440;
}

#controls table {
  font-size: 180%;
  width: 100%;
  cursor: pointer;
}

#controls table td {
  border: 2px solid black;
  text-align: center;
  height: 35px;
  width: 50%;
}

#controls .button {
  font-size: 200%;
  width: 45%;
  padding: 1px 1px 1px 1px;
}


#textinput {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}
#textinput input {
  font-size: 108%;
  width: 100%;
  border: 0;
  height: 20px;
}
#volume {
  width: 100%;
  height: 15px;
}

#logs {
  position: absolute;
  overflow: scroll;
  font-family: monospace;
  top: 140px;
  bottom: 0px;
  margin: 0px
  width: 100%;
  word-wrap: break-word;
}

#logs pre {
  white-space: pre-wrap;
}
